<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<th:block th:replace="layout/head :: head"></th:block>
<th:block th:replace="layout/header :: header"></th:block>

<head>
    <!-- The styles -->
    <link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="/page_auth/css/mdb.min.css" rel="stylesheet">
    <link href="/page_auth/css/register.css" rel="stylesheet">
    <link href="css/error.css" rel="stylesheet">
</head>

<th:block th:replace="layout/header :: header"></th:block>


<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
        </div>
        <h4>You cannot access this page</h4>
        <p>Please contact with me via maitrinhdnc@gmail.com</p>
    </div>
</div>

<th:block th:replace="layout/footer :: footer"></th:block>

</html>
