<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<th:block th:replace="layout/head :: head"></th:block>
<th:block th:replace="layout/header :: header"></th:block>

<div class="ch-container">

    <div class="row">
        <br><br>
        <div class="col-sm-2"></div>
        <div class="forecast-summary">
            <h3 th:text="'&nbsp&nbsp Next 5 Days Weather Forecast : '+ ${cityName}"></h3>
        </div><br>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner chung">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <th:block th:each="detail : ${detail}">
                                    <tr class="detailDB" th:object="${detail}">
                                        <td class="icon_rps" style="width: 100px; height: 50px">
                                            <img style="margin-left:10px;" th:src="*{icon}" class="icon">
                                        </td>
                                        <td class="city_rps" style="width: 200px; height: 50px">
                                            <b><p class="nameCity" th:text="${cityName}"></p></b>
                                            <p th:text="*{#calendars.format(date, 'EE dd MMM')}"
                                               style="color: black"></p>
                                            <div th:if="${#dates.format(detail.date,'MMM dd, yyyy') == #dates.format(timeToday,'MMM dd, yyyy')}">
                                                Today
                                            </div>

                                        </td>
                                        <td class="temp_rps">
                                            <div class="badge badge-min" th:text="*{tempMin}+'&deg;C'"></div>
                                            <div class="badge badge-max" th:text="*{tempMax}+'&deg;C'"></div>
                                            <b><i id="descript_rps" th:text="*{description}"
                                                  style="color: black"></i></b>
                                            <p style="color: black" class="general_rps hidden-xs"
                                               th:text="*{wind}+'m/s &nbsp;  '+ *{humidity}+'% &nbsp; '+*{pressure}+'hpa. '">
                                        </td>
                                    </tr>
                                </th:block>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="layout/footer :: footer"></th:block>
</html>
