<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<th:block th:replace="layout/head :: head"></th:block>

<body onload="startTime()">
<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
        <a class="navbar-brand" th:href="@{/}"> <img alt="Charisma Logo" src="img/logo10.png"/>
            <span class="hidden-xs"></span></a>
        <form th:action="@{/search-city}" method="get" class="search_form">
            <input type="text" class="form-control" name="cityName" placeholder="Search Location"
                   style="text-align: left" th:value="${param.cityName}">
            <div class="input-group-append" style="text-align: right">
                <button class="btn btn-secondary" type="submit"
                        style="margin-top: -70px; background-color: #ffffff00;">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </form>
        <!-- user dropdown starts -->
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user">
                    <span class="hidden-sm hidden-xs" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;"
                          th:if="${#request.userPrincipal.name!=null}" th:utext="${#request.userPrincipal.name}"></span>
                </i>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="nav-item"
                    th:if="${#authorization.expression('hasRole(''ROLE_USER'')') && #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a th:href="@{/admin}">Your Profile</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a th:href="@{/admin}">Management</a>
                </li>
                <li class="divider"></li>
                <li><a th:href="@{/logout}">Log-out</a></li>
            </ul>
        </div>        <!-- user dropdown ends -->

        <!-- theme selector starts -->
        <div class="btn-group pull-right theme-container animated tada">
            <button class="btn btn-default dropdown-toggle hidden-xs" data-toggle="dropdown">
                <i class="glyphicon glyphicon-tint"></i><span
                    class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu hidden-xs" id="themes">
                <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
            </ul>
        </div>
        <!-- theme selector ends -->
    </div>
</div>
<!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        <!-- left page starts -->
        <br>
        <div class="col-sm-1 col-lg-1"></div>
        <div class="col-sm-5 col-lg-5">
            <div class="nav-canvas">
                <div class="nav-sm nav nav-stacked"></div>
                <div class="nav nav-pills nav-stacked main-menu">
                    <!--Not Found City-->
                    <div class="table" th:if="${message != null}">
                        <div class="frame" th:object="${currentWeather}">
                            <h3 class="message" th:text="${message}"></h3></div>
                    </div>
                    <!--Current Location Weather-->
                    <div class="main cur_local" th:if="${currentWeather == null && message ==null}">
                        <div class="frame" style="width: 100%; height: 400px; border-width: 1px;
                                    border-style: solid;border-radius: 5px; border-color: #d7cece;
                                    padding: 20px 16px 12px 16px;">
                            <div class="main">
                                <div class="main-wthree-row">
                                    <div class="agileits-top">
                                        <div class="agileinfo-top-row">
                                            <div class="icon_descript">
                                                <div id="icon_test"></div>
                                                <div id="descript_local"></div>
                                            </div>
                                            <div>
                                                <h3 id="temparature"></h3>
                                                <div class="vk_bk wob-unit"><span
                                                        class="wob_t" style="display:inline"
                                                        aria-label="°Celsius"
                                                        aria-disabled="true"
                                                        role="button">°C</span><a class="wob_t" href="#"
                                                                                  style="display:none;text-decoration:none">
                                                    <span aria-label="°Celsius">°C</span></a>&nbsp;|&nbsp;
                                                    <a class="wob_t" href="#"
                                                       style="display:inline;text-decoration:none;margin-left:-1px"
                                                       role="button">
                                                <span
                                                        aria-label="°Fahrenheit" style="color: darkblue">°F</span></a>
                                                    <span
                                                            class="wob_t"
                                                            style="display:none;margin-left:-1px;"
                                                            aria-label="°Fahrenheit"
                                                            aria-disabled="true"
                                                            role="button">°F</span>
                                                </div>
                                            </div>
                                            <!--                                            <p></p>-->
                                            <div class="agileinfo-top-time">
                                                <div class="date-time">
                                                    <div class="dmy">
                                                        <div id="txt"></div>
                                                        <div class="date">
                                                            <!-- Date-JavaScript -->
                                                            <script type="text/javascript">
                                                                var mydate = new Date()
                                                                var year = mydate.getYear()
                                                                if (year < 1000)
                                                                    year += 1900
                                                                var day = mydate.getDay()
                                                                var month = mydate.getMonth()
                                                                var daym = mydate.getDate()
                                                                if (daym < 10)
                                                                    daym = "0" + daym
                                                                var dayarray = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
                                                                var montharray = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
                                                                document.write("" + dayarray[day] + ", " + montharray[month] + " " + daym + ", " + year + "")
                                                            </script>
                                                            <!-- //Date-JavaScript -->
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w3ls-bottom">
                                        <h2>Today's Weather </h2><br>
                                        <div id="owl-demo" class="owl-carousel owl-theme">
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>10AM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/1.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>11AM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/1.png" alt=""/>
                                                    </a>
                                                    <p>22<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>12PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/2.png" alt=""/>
                                                    </a>
                                                    <p>22<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>1PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/3.png" alt=""/>
                                                    </a>
                                                    <p>24<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>2PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/4.png" alt=""/>
                                                    </a>
                                                    <p>23<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p> 3PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/4.png" alt=""/>
                                                    </a>
                                                    <p>22<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>4PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/2.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>5PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/2.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>6PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/1.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>7PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/1.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>8PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/1.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>9PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/1.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="biseller-column">
                                                    <p>10PM</p>
                                                    <a class="lightbox" href="#">
                                                        <img src="img/1.png" alt=""/>
                                                    </a>
                                                    <p>20<sup class="degree">°</sup></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //main -->
                        </div>
                    </div>
                    <!--Search Weather-->
                    <div class="main search_wea" th:if="${currentWeather != null}">
                        <div class="frame" th:object="${currentWeather}">
                            <!--                            <div class="frame_weather" style="border-radius: 15px; background-color: #ffffffcf; width: 100%; height: 100%;padding: 10px 16px 24px 16px;">-->
                            <div class="agileits-top" style="padding: 20px 16px 24px 16px;">
                                <div role="heading">
                                    <br><br>
                                    <div class="local">
                                        <a th:href="@{/weather-detail/__*{cityName}__}"
                                           style="font-size: x-large !important; color: #555555 !important;"
                                           th:text="*{cityName}" th:value="${param.cityName}">
                                        </a>
                                    </div>
                                    <div class="dateNow"
                                         style="font-size: medium !important; color: #555555 !important; margin-top: 15px">
                                        <p th:text="*{#calendars.format(date, 'dd-MM-yyyy')}"></p>
                                    </div>
                                    <div class="descript" style="margin-top: 15px"><span><i
                                            th:text="*{description}"></i></span></div>
                                    <div class="action" style="float: right" th:switch="${status}">
                                        <a class="btn btn-primary" th:case="'add'"
                                           th:href="@{/save-weather/__*{cityName}__}"
                                           style="margin-top: -275px; background-image: linear-gradient(#1e86d5, #274c61 60%, #32454f);">Add</a>
                                        <a class="btn btn-warning" th:case="'update'"
                                           th:href="@{/update-weather/__*{cityName}__}"
                                           style="margin-top: -275px">Update</a>
                                    </div>
                                </div>
                                <div id="wob_d"
                                     style="font:16px arial,helvetica,sans-serif;padding:40px 0 0;-webkit-touch-callout:none;-webkit-user-select:none;">
                                    <div>
                                        <img th:src="'http://openweathermap.org/img/w/'+*{icon}+'.png'"
                                             width="50"
                                             height="50" style="float:left;height:64px;width:64px">

                                        <div aria-level="3" role="heading"
                                             style="padding-left:10px;float:left; width: 220px">
                                            <div>
                                                <div class="vk_bk sol-tmp"
                                                     style="float:left;margin-top:-3px;font-size:60px">
                                    <span class="wob_t" id="wob_tm" style="display:inline"
                                          th:text="*{#numbers.formatDecimal(temp,2,1)}"></span>
                                                    <span class="wob_t" id="wob_ttm"
                                                          style="display:none">82</span>
                                                </div>
                                                <div class="vk_bk wob-unit"
                                                     style="font-size:16px;margin-right:50px"><span
                                                        class="wob_t" style="display:inline; color: #555555"
                                                        aria-label="°Celsius"
                                                        aria-disabled="true"
                                                        role="button">°C</span><a class="wob_t" href="#"
                                                                                  style="display:none;text-decoration:none"
                                                                                  data-lams=""
                                                                                  data-metric="true"
                                                                                  data-url="/setprefs?fheit=0&amp;sig=0_mbZMdjB5rj8mIQKxwwtGp6YovTA=&amp;prev=https://www.google.com/search%3Fq%3Dweather%26oq%3Dweather%26aqs%3Dchrome..69i57j69i60l5.3792j1j4%26sourceid%3Dchrome%26ie%3DUTF-8"
                                                                                  role="button" jsaction="wob.t"
                                                                                  data-ved="2ahUKEwjcj4Xan6PlAhXCQN4KHQImBKIQ-lswAHoECAwQAQ"><span
                                                        aria-label="°Celsius">°C</span></a>&nbsp;|&nbsp;<a
                                                        class="wob_t"
                                                        href="#"
                                                        style="display:inline;text-decoration:none;margin-left:-1px"
                                                        data-lams=""
                                                        data-metric="false"
                                                        data-url="/setprefs?fheit=1&amp;sig=0_mbZMdjB5rj8mIQKxwwtGp6YovTA=&amp;prev=https://www.google.com/search%3Fq%3Dweather%26oq%3Dweather%26aqs%3Dchrome..69i57j69i60l5.3792j1j4%26sourceid%3Dchrome%26ie%3DUTF-8"
                                                        role="button"
                                                        jsaction="wob.t"
                                                        data-ved="2ahUKEwjcj4Xan6PlAhXCQN4KHQImBKIQ-1swAHoECAwQAg"><span
                                                        aria-label="°Fahrenheit">°F</span></a> <span
                                                        class="wob_t"
                                                        style="display:none;margin-left:-1px"
                                                        aria-label="°Fahrenheit"
                                                        aria-disabled="true"
                                                        role="button">°F</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vk_gy vk_sh wob-dtl" style="font-weight: bold; margin-left:310px ">
                                            <div>Pressure: <span id="wob_pp" th:text="*{pressure}+' hpa'"></span>
                                            </div>
                                            <div>Humidity: <span id="wob_hm" th:text="*{humidity}+' %'"></span>
                                            </div>
                                            <div>Wind: <span><span class="wob_t" id="wob_ws"
                                                                   th:text="*{wind}+' m/s'"></span></span>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- left page ends -->

        <!-- right page starts-->
        <!-- History Weather-->
        <div id="content" class="col-lg-6 col-sm-6">
            <div class="row">
                <div class="box col-md-12" th:if="${listCities != null}">
                    <div class="box-inner chung">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-cloud"></i> History Weather</h2>
                        </div>
                        <div class="cover" style="overflow: auto; height: 363px">
                            <div class="cityList" th:each="weather1,i : ${listCities}"
                                 th:attr="weather=${weather1.getCityName()}">
                                <table class="table table-striped">
                                    <th:block class="listCities" th:each="ci : ${weatherList0.get(i.index)}"
                                              th:attr="wtest=${ci.getCityName()}">
                                        <th:block th:each="w : ${ci}">
                                            <tr class="detailDB" th:object="${w}"
                                                th:attr="city=${weather1.getCityName()}">
                                                <td class="icon_rps">
                                                    <img th:src="*{icon}" class="icon">
                                                </td>
                                                <td class="city_rps">
                                                    <!--                                                        <div class="city-date">-->
                                                    <b><a th:href="@{/weather-detail/__*{cityName}__}">
                                                        <p class="nameCity"
                                                           th:text="*{cityName}"></p>
                                                    </a></b>
                                                    <p th:text="*{#calendars.format(date, 'dd-MM-yyyy')}"
                                                       style="color: black"></p>
                                                    <!--                                                        </div>-->
                                                </td>
                                                <td class="temp_rps">
                                                    <!--                                                        <div class="property">-->
                                                    <div class="badge badge-info"
                                                         th:text="*{temp}+'°С'"></div>
                                                    <b><i id="descript_rps" th:text="*{description}"
                                                          style="color: black"></i></b>
                                                    <p style="color: black" class="general_rps hidden-xs"
                                                       th:text="*{wind}+'m/s &nbsp;  '+ *{humidity}+'% &nbsp; '+*{pressure}+'hpa. '">
                                                        <!--                                                        </div>-->
                                                </td>
                                                <td><a class="text-info"
                                                       th:href="@{/delete-weather/__*{weatherId}__}"
                                                       onclick="return confirm('Do you want to delete this record?')"
                                                       title="Delete Weather">
                                                    <i class="glyphicon glyphicon-minus-sign"
                                                       style="color: red"></i>
                                                </a></td>
                                            </tr>
                                        </th:block>
                                    </th:block>
                                </table>
                                <div class="show-more pointer" th:if="${weatherList0.get(i.index).size() > 1}"
                                     th:attr="show=${weather1.getCityName()}"
                                     style="font-weight:bold; font-size: 15px; text-align: center; background: #c6c6db61;color:#317eac;margin-top: -20px; margin-bottom: 5px ">
                                    <b>Show more</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
        </div>
        <!-- right page ends-->
    </div><!--/fluid-row-->
</div>
<!--/.fluid-container-->
</body>
</html>
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="/js/weather_search.js"></script>
<!--Drop Down-->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/charisma.js"></script>